services:
  streamlit-app:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - 8501:8501
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./src:/app/src
